In [1]:
import pandas as pd

In [13]:
df_19 = pd.read_csv("/Users/sophiazheng/Downloads/data/safegraph_orig/april_2019.csv")
df_20 = pd.read_csv("/Users/sophiazheng/Downloads/data/safegraph_orig/april_2020.csv")
df_21 = pd.read_csv("/Users/sophiazheng/Downloads/data/safegraph_orig/april_2021.csv")

In [15]:
df_19_sum = df_19.groupby("postal_code").sum()
df_20_sum = df_20.groupby("postal_code").sum()
df_21_sum = df_21.groupby("postal_code").sum()

In [17]:
df_19_sum.to_csv("/Users/sophiazheng/Downloads/data/april_2019_sum.csv", index=True)
df_20_sum.to_csv("/Users/sophiazheng/Downloads/data/april_2020_sum.csv", index=True)
df_21_sum.to_csv("/Users/sophiazheng/Downloads/data/april_2021_sum.csv", index=True)

In [18]:
df_19_sum

             raw_visit_counts  raw_visitor_counts
postal_code
7002                       26                  21
10001                  849828              519139
10002                  292124              172663
10003                  489874              294139
10004                  209231              114893
...                       ...                 ...
12065                     690                 269
12734                       4                   4
12977                      99                  43
14516                      47                  32
14534                      39                   8

[255 rows x 2 columns]

In [19]:
df_19_bor = pd.read_csv("/Users/sophiazheng/Desktop/19agg.csv")
df_20_bor = pd.read_csv("/Users/sophiazheng/Desktop/20agg.csv")
df_21_bor = pd.read_csv("/Users/sophiazheng/Desktop/21agg.csv")

In [22]:
df_19_b = df_19_bor.groupby("j_borough").sum()
df_20_b = df_20_bor.groupby("j_borough").sum()
df_21_b = df_21_bor.groupby("j_borough").sum()

In [23]:
df_19_b

               postal_code  raw_visit_counts  raw_visitor_counts
j_borough
Bronx               261575            690187              345459
Brooklyn            415151            650153              319283
Manhattan           451740          11775593             6827905
Queens              648609            475529              210343
Staten Island       123681            226615              101572

In [25]:
df_19_b.to_csv("/Users/sophiazheng/Desktop/april_2019_bor.csv", index=True)
df_20_b.to_csv("/Users/sophiazheng/Desktop/april_2020_bor.csv", index=True)
df_21_b.to_csv("/Users/sophiazheng/Desktop/april_2021_bor.csv", index=True)